<h1><%= @movie.title %></h1>
<p>Year Created: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>
<p>Actors: </p>
<% @movie.actors.youngest_to_oldest.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>
<p>Average age of actors: <%= @movie.actors.average_age %></p>

<%= link_to "Add Actor", "/movies/#{@movie.id}/actors/new" %>
